{% extends 'app/base.html' %}
{% load static %}
{% block title %}password change{% endblock title %}
{% block main-content %}
<div class="container my-3">
    <div class="row ">
        <h3>Welcome</h3>
        <div class ="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class ="d-grid">
                    <a href ="{% url 'profile' %}" class="btn btn-primary">
                        Go to profile
                    </a>
                </li>
            </ul>
        </div>
     </div>
</div>
<div class ="col-sm-9 offset-sm-1 text-center">Your passsword changed successfully</div>
{% endblock main-content %}
        